*{
    margin-left: 0;
    margin-right: 0;
    font-family: "roboto-regular";
}



// Buttons
// .btn:disabled{
//     padding: 10px;
//     font-family: "roboto-regular" !important;
//     background-color: #dfdfdf;
//     font-size: 1rem;
//     border: none;
//     border-radius: 5px;
// }
// button:hover{
//     padding: 10px;
//     font-family: "roboto-regular" !important;
//     background-color: #c7c6c6;
//     border: none;
//     border-radius: 5px;
// }

// File Selector Button in input=file
